@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  background-color: #ffffff; /* pure white */
  color: #000000; /* pure black */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000; /* pure black */
    color: #ffffff; /* pure white */
  }
}
